//主题色
$theme-color:              #fa2c19;
// 白色
$color-white-var:          #ffffff;
// 黑色
$color-black-var:          #000000;
// 默认文字颜色
$default-font-color:       #4c4c4c;
// 浅色文字颜色
$font-color-light:         #808080;
//错误文字颜色
$font-color-error:         #D60100;
// 默认背景颜色
$default-background-color: #f2f2f2;
// 浅色背景颜色
$background-color-light:   rgb(247, 247, 250);
// 默认边框颜色
$default-border-color:     #ebedf0;
// 线条颜色
$default-line-color:       #909ca4;



// 超小文字
$little-font-size:         20upx;
// 小号文字大小
$small-font-size:          24upx;
// 默认文字大小
$default-font-size:        30upx;
// 大号文字大小
$font-size-large:          36upx;
//14号字体
$font-size-14:             28upx;
// 13号字体
$font-size-13:                26upx;
//40号字体
$font-size-40:             40upx;
//48号字体
$font-size-48:             48upx;
//70号字体
$font-size-70:             70upx;

//默认圆角
$default-border-radius:    10upx;

// 默认盒子阴影
$default-box-shadow:       rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
